<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>

    <bean name="userService" class="com.castel.service.impl.UserServiceImp">
    </bean>
    <bean name="userDao" class="com.castel.dao.impl.UserDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="roleService" class="com.castel.service.impl.RoleServiceImp">
    </bean>
    <bean name="roleDao" class="com.castel.dao.impl.RoleDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="saborService" class="com.castel.service.impl.SaborServiceImp">
    </bean>
    <bean name="saborDao" class="com.castel.dao.impl.SaborDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="bebidaService" class="com.castel.service.impl.BebidaServiceImp">
    </bean>
    <bean name="bebidaDao" class="com.castel.dao.impl.BebidaDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="pizzaService" class="com.castel.service.impl.PizzaServiceImp">
    </bean>
    <bean name="pizzaDao" class="com.castel.dao.impl.PizzaDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="valoresService" class="com.castel.service.impl.ValoresServiceImp">
    </bean>
    <bean name="valoresDao" class="com.castel.dao.impl.ValoresDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <bean name="pedidoService" class="com.castel.service.impl.PedidoServiceImp">
    </bean>
    <bean name="pedidoDao" class="com.castel.dao.impl.PedidoDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>